@media screen and (min-width: 1000px) {

    .category-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        background-color: #e4e8f5;
    }
}

@media (max-width: 800px) {
    .category-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 320px) {
    .category-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
